$fuentePrincipal : 'Radio Grotesk';
$fuenteSecundaria:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

$negro: #000;
$blanco: #FFF;
$azulOscuro: #006897;
$azulClaro: #00978D;
$gris: #787878;


//Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1200px;

