.contenedor-3{
    max-width: calc(100rem + 16.66vw);
    width: 90%;
    margin: 0 auto;

    @include tablet{
        margin-top: 0!important;

    }

    h2{
        margin: 3rem 0;
        text-align: center;
    }

}

.inicio-proyecto{
    height: 0;

    min-height: 13rem;
    display: block;
}

.contenedor-proyecto{
    margin-top: 3rem;



    p{
        text-align: justify;
    }

    picture, img{
        max-width: 50rem;
        width: 100%;
    }
}