.inicio-proyecto{
    height: 0;

    min-height: 13rem;
    display: block;
}

.contenedor-proyecto{
    margin-top: 3rem;

    h1{
        margin: 3rem 0;
        text-align: center;
    }

    p{
        text-align: justify;
    }
}